@model AkhbaarAlYawm.DataAccess.Custom.Entities.ReplyComment

@{
    ViewBag.Title = "ReplyComment.Mobile";
}
<div id="replyComment" style="margin: 0px;">
<div class="well">
    <span class='errorClass bg-danger' id="Replyerror" style="display:none;"></span>
    <h4>Reply to Comment:</h4>
    <form role="form">
        <div class="form-group">

            @if (Model.user != null)
            {
                <textarea id="replypostcomment" class="form-control" rows="3"></textarea>
            }
            else
            {
                <textarea class="form-control" rows="3" onclick="redirect()"></textarea>
            }
        </div>

        @if (Model.user != null)
        {
            <button type="button" class="btn btn-primary" onclick="PostReplyCommentFunction('@Model.user.UserID', '@Model.CommentID', '@Model.IsParentComment')">Submit</button>
            
            <button type="button" class="btn btn-danger" onclick="CancelReply('@Model.CommentID','@Model.IsParentComment')">Cancel</button>
        }
        else
        {
            <button type="button" class="btn btn-primary" onclick="redirect()">Submit</button>   
        }
    </form>
</div></div>



<script type="text/javascript">
    function redirect() {
        window.location.href = "/Account/Login/?returnUrl=" + window.location.href;
    }
    function PostReplyCommentFunction(UserID, CommentId, IsParentComment){
        
        if ($("#replypostcomment").val() == '')
        {
            $("#Replyerror").html('Please Enter Comment');
            $("#Replyerror").css('display', 'block');
            return false;
        }
        else
        {
            var id;
            if(window.location.href.indexOf("Home/Detail") > -1) {
                id = 1;
            }
            else{
                id = 2;
            }
        
            $.ajax({
                url: "/Comment/PostReplyComment",
                type: "GET",
                dataType: "html",
                data: { "userId": UserID, "commentId":CommentId, "isParentComment":IsParentComment, "comment":$("#replypostcomment").val(), "CommentCategoryID": id },
                success: function (data) {
                   
                    $("#CommentList").html(data);
                    $("#newComment").css('display', 'block');
                   }
            });
        }
    }

    function CancelReply(commentId, IsParentComment) {
        if (IsParentComment == 'true') {
            $("#parentcomment-" + commentId).html('');
            $("#newComment").css('display', 'block');
        }
        else {
            $("#childcomment-" + commentId).html('');
            $("#newComment").css('display', 'block');
        }
      
    }
</script>