@model AkhbaarAlYawm.DataAccess.Custom.Entities.Classified
@{
    ViewBag.Title = "PostNow.Mobile";
}
@*<link href="~/Content/chosen-31-01-2016.css" rel="stylesheet" />*@
<link href="~/Content/screen.css" rel="stylesheet" />
<style>
    .drpcls {
        border-radius: 3px;
        height: 58px;
        display: block;
        clear: both;
        border: 0;
        background-color: #fff;
        font-size: 18px;
        margin: 0 0 22px;
        padding: 0 15px;
        width: 100%;
    }
   
</style>
@*<script src="~/Scripts/chosen.jquery.js"></script>*@
<script type="text/javascript">


    //$(document).ready(function () {
    //    $("#CountryID").chosen({ width: "100%" });

    //});
    function CountryChange(countrydd, childDDID) {
        var selectedItem = $(countrydd).val();

        if (selectedItem == null || selectedItem == '') {
            $("#" + childDDID).html('');

            return;
        }
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Home/GetStates",
            data: { "countryID": selectedItem },
            success: function (data) {
                console.log(data[0]);

                $("#statesDiv").css("display", "block");
                $("#" + childDDID).html('');
                $("#" + childDDID).append($('<option></option>').html("Select State"));
                $.each(data, function (id, option) {

                    $("#" + childDDID).append($('<option></option>').val(option.StateID).html(option.StateName));


                });
                $("#StateID").trigger("chosen:updated");
                $("#StateID").chosen({ width: "100%" });

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve cities.');
            }
        });
    }

    function StateChange(statedd, childDDID) {
        var selectedItem = $(statedd).val();

        if (selectedItem == null || selectedItem == '') {
            $("#" + childDDID).html('');

            return;
        }

        $.ajax({
            cache: false,
            type: "GET",
            url: "/Home/GetCities",
            data: { "StateID": selectedItem },
            success: function (data) {

                $("#" + childDDID).html('');
                $("#" + childDDID).append($('<option></option>').html("Select City"));
                console.log(data);
                if (data != '') {
                    $.each(data, function (id, option) {

                        $("#" + childDDID).append($('<option></option>').val(option.CityID).html(option.CityName));

                    });
                } else {
                    $("#" + childDDID).append($('<option></option>').html($("#StateID option:selected").html()));

                }
                $("#cityDivHolder").css("display", "block");
                $("#CityID").trigger("chosen:updated");
                $("#CityID").chosen({ width: "100%" });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve cities.');
            }
        });

    }


</script>
<div class="popup-container hide" id="pop-up">
    <div class="container c-p">
        <a class="close-btn" href="/"><span>&times;</span></a>
        <div class="form">
            <h2>Post Classified Ad</h2>
            <input type="text" class="input-text" placeholder="Title*" name="Title" id="Title">
            <textarea type="text" class="input-text" placeholder="Description*" name="Description" id="Description" style="height: 105px;"></textarea>
            <select class="drpcls" data-placeholder="Select an Option" id="CountryID" name="CountryID" onchange="CountryChange(this, 'StateID')" >
                     <option selected disabled>Select Country*</option>
                    @{
                                
    foreach (var countries in Model.CountryList)
    { 
                        <option value="@countries.CountryID">@countries.Name</option>
    }
                    }



                </select>

            <div class="ih" id="statesDiv" style="display: none">
            <select id="StateID" name="StateID" onchange="StateChange(this, 'CityID')" class="drpcls"></select>
                </div>

            <div class="ih" id="cityDivHolder" style="display: none;">
             <select id="CityID" name="CityID" class="drpcls"></select>
                </div>
            <select name="PhoneCode" id="PhoneCode" class="drpcls">
                <option selected disabled>Select PhoneCode*</option>
                @Html.Partial("~/Views/Shared/PartialCountryPhoneCode.cshtml")
            </select>
            <input type="text" class="input-text" placeholder="PhoneNo*" name="PhoneNo" id="PhoneNo">
            <select name="CurrencyID" id="CurrencyID" class="drpcls">
                <option selected disabled>Select Currency*</option>
            @foreach (var item in Model.CurrencyList)
            {
                <option value="@item.CurrencyID">@item.Code</option>
            }   
                </select>
            <input type="text" class="input-text" placeholder="Price*" name="price" id="price">
            <textarea type="text" class="input-text" placeholder="Address" name="address" id="address" style="height: 105px;"></textarea>
            
        </div>
    </div>
    
    <script type="text/javascript">

        $(document).ready(function () {
            $("#overlay").removeClass('hide');
            $("#pop-up").removeClass('hide');
        });

        $("#submit").click(function () {
            if ($("#Email").val() == '' || $("#Password").val() == '') {
                $("#error").css('display', 'block');
                $("#errText").text('Please make sure all required fields are filled.');
                return false;
            }


        });


    </script>
