@model AkhbaarAlYawm.DataAccess.Custom.Entities.PP_Entities_Model.ArticleDetailModel

<div id="content">

    <div class="padding">
        <div class="width100">
            <div class="swiper-wrapper baba">
                <div class="swiper-slide">
                    <figure style="margin-top: 0px;">
                        <img src='@string.Format("{0}{1}", AkhbaarAlYawm.Helper.Constants.Akhbaar_CP_URL, Model.FeaturedImage)' alt="@Model.FeaturedImage" alt="" />
                    </figure>
                </div>
            </div>
        </div>
        <div id="Head-section">
            <h2 class="title-detail">@Model.Title</h2>
            <div id="innerDiv">

                <div class="row">
                    
                     <div class="col-xs-6">
                         <div class="badge detail-source">
                             <span class="glyphicon glyphicon-tag"></span>@Model.SourceName

                         </div>

                     </div>
                    @if (Model.CityID > 0)
                    {
                    <div class="col-xs-6">
                        <div class="badge detail-source">
                            <span class="fa fa-map-marker fa-lg" aria-hidden="true"></span>@Model.Mauze

                        </div>

                    </div>
                    }
                   
                    
                    </div>
                <div class="row">
                     <div class="col-xs-4">
                        <div class="badgecounts">
                            <span class="fa fa-eye fa-lg" aria-hidden="true"></span>@Model.ViewCount

                        </div>

                    </div>
                    <div class="col-xs-4">
                        <div class="badgecounts">
                            <span class="fa fa-comment fa-lg" aria-hidden="true"></span>@Model.CommentCount

                        </div>

                    </div>
                </div>
                 <div class="row">
                     <div class="col-xs-4">
                        <div class="dateBadge" style="padding:12px;">
                            @Model._newMappedDate
                        </div>

                    </div>
                    <div class="col-xs-4">
                        <div class="dateBadge" style="padding:12px;">
                           @Model.IslamicDate
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div id="body-section">
            <p class="body">@Html.Raw(Model.Body)</p>
        </div>

    </div>

    @if (Model.ListUploadedPictures.Count > 0)
    {
        <h4 style="border-bottom: 1px #000 solid; padding: 12px;">Akhbaar Photos:</h4>
        <div class="swiper-container">
            <div class="swiper-wrapper baba">

                @foreach (var items in Model.ListUploadedPictures)
                {
                    <div class="swiper-slide">
                        <figure>

                            <img src='@string.Format("{0}{1}", AkhbaarAlYawm.Helper.Constants.Akhbaar_CP_URL, items.URL)' alt="@items.URL" style="height:250px;"/>
                        </figure>
                    </div>
                
                    <!-- /topstory -->
                }

            </div>
            <br />
            <div class="swiper-pagination" style="position: relative"></div>
        </div>
    }
    <div class="breaker"></div>
    @Html.Partial("~/Views/Shared/commentPartialView.cshtml", Model.ArticleComment)
    
    @{Html.RenderAction("NewComment", "Comment", Model );}
    <!-- RECENT ARTICLES -->
    <h2 class="separator">Top Viewed Related Articles</h2>

    <ul class="list box">
         @Html.Partial("~/Views/Shared/sharedHomeNonFeaturedView.cshtml", Model._RelatedArticles)
    </ul>
</div>